/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.page-slide input , .page-slide select{
  display: block;
  padding:0.75em;
  margin: .5em 0 1em 0;
width: 90%;
font-size:1em;
border: thin solid #ccc;
}

button{
  background: #3E7504 ;
  color:#CCFF96;
  border: thin solid #3E7504;
  padding: 3px 8px;
  font-size: 1.2em;
}


#addForm .ng-pristine {
    background: none!important;
}
#addForm .ng-dirty {
    background:#FAC8C8;
}
#addForm .ng-valid {
    background: #E8FAC8
}
#addForm .ng-invalid {
    background: #FAC8C8
}
button:disabled {
    background: #ccc;
    color:#aaa;
}

.exp-details {
  clear: both;
}
.exp-details >div {
  float: left;
  padding: 0.5em 0.2em;
  border-bottom: thin solid #eaeaea;
}
.exp-details .col-sm-1 {
  width:5%;
}
.exp-details .col-sm-2 {
  width:20%;
}
.exp-details .col-sm-3 {
  width:25%;
}.exp-details .col-sm-4 {
  width:40%;
}

@media all and (min-width: 680px){
  #summary,#details{
    float:left;
    width:49%;
    padding: 0.25em;
  }
}

.bg-image{ 
  -webkit-user-drag: none;
}